* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0f0f10;
}

main {
	display: flex;
	flex-wrap: wrap;
	font-family: helvetica, arial;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 270px;
	height: 400px;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 10px 0px #0000007e;
	background-color: #0f172a;
}

h2 {
	font-size: 1rem;
	margin-bottom: 20px;
	color: #fff;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #fff;
}

input {
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
	border: none;
	width: 100%;
}

div {
	width: 100%;
	color: #fff;
	padding: 10px;
	font-size: 1.1rem;
	color: aqua;
}

button {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #7fff00;
	font-weight: 600;
	width: 100%;
	cursor: pointer;
}
