/* style.css */

/* Reseta alguns estilos padrão para garantir consistência entre diferentes navegadores */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
	padding: 20px;
}

/* Estilo para o cabeçalho principal */
h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #2c3e50; /* Azul escuro */
}

/* Estilo para o parágrafo de boas-vindas */
p {
	font-size: 1.2em;
	margin-bottom: 20px;
}

/* Estilo para os cabeçalhos secundários */
h2 {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #34495e; /* Azul médio */
}

/* Estilo para as tabelas de filmes e gêneros */
table.lista-filmes,
table.lista-generos {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 20px;
}

table.lista-filmes th,
table.lista-filmes td,
table.lista-generos th,
table.lista-generos td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

/* Estilo para os cabeçalhos das tabelas */
table.lista-filmes th,
table.lista-generos th {
	background-color: #eaf2f8; /* Azul claro */
	font-weight: bold;
	color: #2980b9; /* Azul padrão */
}

/* Estilo para linhas alternadas */
table.lista-filmes tr:nth-child(even),
table.lista-generos tr:nth-child(even) {
	background-color: #f4faff; /* Azul muito claro */
}

/* Estilo para o hover das linhas */
table.lista-filmes tr:hover,
table.lista-generos tr:hover {
	background-color: #d6eaf8; /* Azul suave */
}

td .btn-editar {
	background-color: #2ecc71; /* Verde */
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

td .btn-remover {
	background-color: #e74c3c; /* Vermelho */
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); 
}

dialog::backdrop {
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); 
}

dialog form {
	background-color: #fff; 
	border: 1px solid #ccc; 
	padding: 20px; 
	border-radius: 5px; 
}

dialog form label {
  display: block; 
  margin-bottom: 5px; 
}

dialog form input {
  width: 100%; 
  padding: 5px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

dialog button {
  background-color: #3498db; 
  color: white; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-transform: uppercase;
  font-weight: bold;
}