* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 100vh;
}

main {
	background: #f4f4f4;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
section {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 15px;
}
.botao {
	width: 50px;
	height: 50px;
	font-size: 25px;
	cursor: pointer;
	margin: 3px;
	background-color: rgb(31, 31, 31);
	border: none;
	color: #fff;
}
.botao:hover {
	background-color: #c07c24;
}
#display {
	background-color: white;
	padding: 15px;
	min-height: 30px;
	margin: 5px;
	font-size: 25px;
	color: black;
	text-align: right;
	padding: 5px;
	word-wrap: break-word;
}

#calcular {
	background: #7ba4c2;
}

#calcular:hover {
	background: #5f8aa3;
}
