* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #302f2f;
}

img {
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1b1b1b;
	padding: 40px;
	color: white;
}

header img {
	margin-top: 20px;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1280px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #222222;
}

section {
	display: flex;
	min-width: 250px;
	flex: 1;
	border-radius: 5px;
	background-color: rgb(85, 84, 84);
}

.band {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 20px;
	padding: 15px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.349);
}

.band-info h2 {
	margin-bottom: 10px;
}

aside {
	background-color: rgb(27, 27, 27);
	color: white;
	padding: 40px;
}

aside h2 {
	margin-bottom: 20px;
}

footer {
	padding: 60px;
	background-color: rgb(27, 27, 27);
	text-align: center;
	color: wheat;
}
