* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
