* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #030917;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 31.25rem;
	padding: 1.25rem;
	height: 100vh;
}

main {
	border: 1px solid #1e232f;
}

section {
	width: 100%;
	padding: 2.5rem;
}

img {
	display: block;
	width: 100%;
	height: 12.5rem;
	object-fit: cover;
	margin-bottom: 1.25rem;
}

h1 {
	margin-bottom: 2.5rem;
	color: #4399e9;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

label {
	font-weight: 500;
	color: #fff;
	margin-bottom: 0.75rem;
}

input,
select {
	padding: 0.75rem;
	margin-bottom: 1.25rem;
	border: 1px solid #1e232f;
	border-radius: 5px;
	color: #848a92;
	background-color: #030917;
}

input[name='usuario'] {
	background-image: url('../imgs/person.svg');
	background-repeat: no-repeat;
	background-position: right 0.625rem center;
}

input[name='senha'] {
	background-image: url('../imgs/key.svg');
	background-repeat: no-repeat;
	background-position: right 0.625rem center;
}

input::placeholder {
	color: #c6c7ca73;
}

input:focus {
	outline: 1px solid #4399e9;
}

.botoes {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#btn-login,
#btn-cadastrar {
	max-width: 12.5rem;
	padding: 0.625rem 0.9375rem;
	cursor: pointer;
	font-weight: 600;
	border-radius: 5px;
	color: #fff;
	background: #3498db;
}

#btn-login:hover,
#btn-cadastrar:hover {
	background: #347cdb;
}

.botoes a {
	color: #868c94;
	font-weight: 500;
	padding: 0.625rem 0;
}

.botoes a:hover {
	color: #a2a8b1;
}

/* CADASTRO */

#cadastro .container {
	height: auto;
}

#cadastro section {
	padding: 0.3125rem;
}

#cadastro main {
	padding: 40px;
}

input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(100%); /* Inverte as cores do ícone */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='checkbox'] {
	border: 0.125rem solid #a2a8b1;
	appearance: none;
	margin: 0;
	padding: 0.5rem;
	border-radius: 50%;
}

input[type='checkbox']:checked {
	background-color: #4399e9;
	border: 0.125rem solid #fff;
	outline: none;
}

input[type='checkbox']:focus {
	outline: none;
}

.termos-e-condicoes {
	display: flex;
	align-items: center;
	gap: 0.3125rem;
	margin-bottom: 1.25rem;
}

.termos-e-condicoes label {
	color: #a2a8b1;
	margin-bottom: 0;
	margin-right: 0.3125rem;
}

#cadastro .botoes {
	flex-direction: row;
	gap: 0.9375rem;
}

@media (width < 768px) {
	html {
		font-size: 0.9rem;
	}
}
